.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.env
.github/**
.eslintrc.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
pull_request_template.md
out/test/**
