code {
  background-color: rgba(110, 118, 129, 0.4);
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-size: 90%;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}
.hljs {
  background-color: rgba(0, 0, 0, 0.4);
  color: #a7a7a7;
}
details > summary {
  padding: 2px 6px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1%;
  font-weight: bolder;
  cursor: pointer;
  font-size: large;
}
.pr-owner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.pr-date {
  font-style: italic;
  opacity: 0.5;
  color: lightgray;
}
.pr-poster {
  font-weight: bold;
  color: lightgray;
}
.comment {
  margin-bottom: 1%;
  border-radius: 6px;
  border: 1px solid #30363d;
}
.comment-header {
  background-color: rgb(22, 27, 34);
  padding: 0.1em 0.5em;
}
.comment-body {
  margin-top: 1%;
  padding: 0.1em 0.5em;
}

a,
a:visited {
  color: #db6161;
  outline: medium none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: rgb(117, 184, 85);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
.clamp {
  max-height: 3.5em;
  text-overflow: ellipsis;
}

button:hover {
  background-color: #157241;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

button:active {
  background-color: #75b855;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
