@import "primer-core.css";

.wm-logo {
  width: 300px;
}

.loginHolder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loginHolder img {
  width: 1.5em;
  height: 1.5em;
  margin: auto;
}

.loginHolder p {
  flex-grow: 4;
}

.Header img {
  max-width: 40%;
  min-height: 1.5em;
}

.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-state {
  display: flex;
  justify-content: center;
  align-items: center;
}

details>summary {
  padding: 2px 6px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1%;
  font-weight: bolder;
  cursor: pointer;
  font-size: large;
  list-style: none;
}

details:not([open])>summary .codicon-chevron-down {
  display: none;
}

details[open]>summary .codicon-chevron-down {
  display: block;
}

details>summary .codicon-chevron-right {
  display: block;
}

details[open]>summary .codicon-chevron-right {
  display: none;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

.pr-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pr-state {
  justify-self: flex-end;
}

.pr-owner {
  display: flex;
  padding: 0.2em 0.4em;
  justify-content: space-between;
  background-color: rgba(56, 139, 253, 0.15);
}

.pr-author-combo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pr-author-img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.pr-date {
  font-style: italic;
  color: #e4e4e4;
  opacity: 0.5;
}

.pr-poster {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.comment-author {
  color: #e4e4e4;
}

a,
a:visited {
  color: #db6161;
  outline: medium none;
  text-decoration: none;
}

a:hover {
  color: #ad3838;
  text-decoration: underline;
}

.clamp {
  max-height: 3.5em;
  text-overflow: ellipsis;
}

.see-more {
  cursor: pointer;
  margin-top: -5px;
  z-index: 2;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.see-more:hover {
  margin-bottom: auto;
}

pre {
  display: flex;
  flex-direction: column;
}

.see-more-button {
  background-color: rgb(100 100 100 / 60%);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: min-content;
  align-self: center;
}

.create-docs {
  background-color: rgb(117, 184, 85);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.table-zebra {
  background-color: rgba(57, 61, 66, 0.9);
  color: #e4e4e4;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #333;
  }

  p {
    color: #e4e4e4;
  }

  a {
    color: #db6161;
  }

  h5 {
    color: #42423f;
  }

  h2 {
    color: #e4e4e4;
  }

  .pr-state {
    filter: invert(1);
  }

  details>summary::after {
    filter: invert(1);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #333;
  }

  p {
    color: #e4e4e4;
  }

  a {
    color: #db6161;
  }

  h5 {
    color: #42423f;
  }

  h2 {
    color: #e4e4e4;
  }

  .pr-state {
    filter: invert(1);
  }

  details>summary::after {
    filter: invert(1);
  }
}

footer {
  font-size: smaller;
}