details > summary {
  padding: 2px 6px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1%;
  font-weight: bolder;
  cursor: pointer;
  font-size: large;
}
.comment-owner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.comment-date {
  font-style: italic;
  opacity: 0.5;
}
.comment-poster {
  font-weight: bold;
}
